@import "../src/common/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Roboto:ital,wght@0,300;0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
a {
  text-decoration: none;
  color: $font-primary;
}

body {
  background: #0b5345;
}
.container {
  margin: 0px 40px;
}
